/* Game Menu */
.game-menu {
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/sakura-background.png");
}

.game-menu h2 {
  font-weight: 600;
  font-size: 70px;
  padding: 10px 0;
  color: rgb(232, 79, 37);
}

.game-menu ul {
  font-size: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 300px;
}

.game-menu ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 15px 6%;
  border-radius: 10px;
}

.game-menu ul li:hover {
  transform: scale(1.1);
}
